.idea/
.ipynb_checkpoints/
__pycache__/
*.py[cod]

.DS_Store
Thumbs.db

.venv/
venv/
env/

archive/

artifacts/**
!artifacts/README.md

data/**
!data/README.md

*.log
*.h5
*.joblib
*.npy
*.npz
*.mat
*.rar
*.zip
*.7z
*.doc
*.docx
*.pdf
